# ---- Environment / secrets ----
.env

# ---- Virtual environments ----
.venv/
venv/

# ---- IDE ----
.idea/

# ---- Videos / recordings ----
*.mp4
!MindMusic.mp4


# ---- Images used only for documentation (optional) ----
# *.png

# ---- Python cache ----
__pycache__/
*.pyc
.ipynb_checkpoints/

# Documentation images (local only)
Project repo structure.png
Web Dev structure.png

# ---- Data & model artifacts (don’t push) ----
data/
models/

